.article-title {
    font-size: 1.5rem;

}
.article-body {
    color:#636363;

}
.article-body span {
    font-weight: bold;

}

.article-body a {
    font-weight: bold;
    color:#1479b8;

}

.article-body a:hover {
    color:#0f2656;

}

.article-read-more {
    font-size: 0.875rem;
    text-decoration: none;
    color: #1479b8;
    letter-spacing: 2.5;
    font-weight: 700;
}

.article-read-more:hover {
    color: #0f2656;
    text-decoration: underline;
    
}

.article-info {
    font-size: 0.875rem;
    color: #616161;
    margin: 2em 0;

}

.article-fratured {
    border-bottom: 1px solid #707070;
    padding-bottom: 1em;
    margin-bottom: 2em;
    
}

@media (min-width:675px) {
    .article-recent {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        justify-content: space-between;

    }
    .article-info {
        text-align: left;
        padding-top: 0;
        margin-top: .5em;
    }
    
    .article-recent-main {
        width:67%;
    }

    .article-recent-secondory {
        width:30%;
    }
}

.article-image { 
    width:100%;
    object-fit: cover;
    min-height: 200px;
}

@media (min-width:675px) {
    .article-fratured{
        display: flex;
        flex-direction: column;
    }
    .article-title {
        order:3;
    }

    .article-fratured img {
        order:1;
    }
    
    .article-info {
        order: 2;

    }
    .article-body {
        order: 4;

    }

    .article-read-more{
        order: 5;
    }
}


